
<div class="form-group">
        
<form action="" (ngSubmit) ="updateProduct(f)" #f=ngForm>
        <h3>Add new Products</h3> 
        <div>
        <input type="text"   placeholder="addproductItemName" [ngModel]="productItemName" name="productItemName"><br>
        <input type="text"   placeholder="addquantity"  [ngModel]="quantity" name="quantity"><br>
        <input type="text"   placeholder="addprice"  [ngModel]="price" name="price"><br>
        <input type="text"   placeholder="addproductId"  [ngModel]="productId" name="productId"><br>
        <input type="text"   placeholder="addsupplierId"  [ngModel]="supplierId" name="supplierId"><br>
        <input type="text"   placeholder="addimageURL"  [ngModel]="image" name="image"><br>
        <input type="text"   placeholder="description"  [ngModel]="description" name="description"><br>
        </div>   
         <button type="submit" data-toggle="modal" data-target="#myModal"
          class="btn btn-outline-success my-2 my-sm-0">Add the item</button>
         <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
      
                        </div>
                        <div class="modal-body">
                            <h3>The Item is added in the site.<i class="fa fa-check fa-2x" aria-hidden="true"></i></h3>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
     </form>
    </div>