
		<div class="form-group" >
                <h3>ADD New Admin Here By Click the Lower Button</h3><br>
           
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0"  name="addnewadmin" [routerLink]="['/addadmin']">AddNewAdmin</button><br>
              <h3>Get operator Data By Click the Lower Button</h3><br>
            <button  type="submit" class="btn btn-outline-success my-2 my-sm-0"  name="deleteadmin" [routerLink]="['/operator']">GetOperators</button>  <br>
               
        
            
        
        
        </div>
