
<div class="adminsignup-form">
    <form (ngSubmit) ="addnewadmin(f)" #f=ngForm>
    <h2>AdminRegister</h2>
    <p class="hint-text">Create Admin Account.</p>
 
    <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="operatorName" name="operatorName" placeholder="Admin Name" required>  
        <input type="email" class="form-control" [(ngModel)]="email" name="email" placeholder="Email" required>
        <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password" required>        
        <input type="password" class="form-control" [(ngModel)]="confirm_password" name="confirm_password" placeholder="Confirm Password" required>       
       
        <div class="form-check">
          Gender:<br>
          <input type="radio" class="form-check-input" id="radio1" [(ngModel)]="male" name="Gender" value="Male" > <span style="    margin-right: 27%;
          ">Male</span>         
          <input type="radio" class="form-check-input" id="radio2" [(ngModel)]="female" name="Gender" value="Female"><span>Female</span>                     
          </div>

          <p *ngIf="adminregistererror">{{adminregistererror}}</p>
         
    </div> 
    <div class="form-group">
        <button [disabled]="passwordCheck(f)" type="submit" class="btn btn-success btn-lg btn-block" 
        data-toggle="modal" data-target="#myModal">Add Admin</button>
     
     
     
        <!-- Modal -->
     <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                    </div>
                    <div class="modal-body">
                        <h3>New Admin Is Added. <i class="fa fa-check" aria-hidden="true"></i></h3>
                       
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">Go to Admin-DashBoard <a [routerLink]="['/registrationadmin']">Admin DashBoard</a></div>
    </div>

    
</form>

</div>
